/*Tested mainly on 1920x1080*/

:root {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;

    --primary: #00BFE0;
    --accent: #FF7C00;
    --white: #ffffff;
    --black: #000000;
    /* this is my original */
    --main-gray: #707070;
    /* this is 7:1 contrast with white */
    /* --main-gray: #595959; */
    --sidebar-link-hover: #cccaca;
} /*Roboto For Resume*/

html, body {
    margin: 0;
    height: 100%;
}

@media only screen and (min-width: 769px) {
  /* For Desktop */
.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 25.5% 74.5%;
}

.sidebar-container {
    display: grid;
    color: var(--white);
    background-color: var(--primary);
    height: 100%;
    grid-template-columns: 13% 73% 15%;
    /* grid-template-rows: 10% 10% 15% 15% 40% 10%; */
    grid-template-rows: 10vh 10vh 15vh 15vh 40vh 10vh;
}

.sidebar-container a{
    color: var(--white);
}

.sidebar-container a:hover {
    color: var(--sidebar-link-hover);
}

.sidebar-name {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    justify-self: end;
    max-width: 200px;
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
}

.sidebar-name a{
    text-decoration: none;
}

.sidebar-routes {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
    font-size: 1.2rem;
    font-weight: 600;
}

.sidebar-links {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    font-size: 1.2rem;
}

.sidebar-links-mobile {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    font-size: 1.2rem;
    display:none;
}

.sidebar-lists {
    list-style: none;
    text-align: right;
}

.sidebar-lists a.pages {
    text-decoration: none;
}

.sidebar-lists a.pages:hover {
    color: var(--sidebar-link-hover);
}

.sidebar-line {
    grid-column: 3 / 3;
    grid-row: 2 / 6;
    background-color: var(--white);
    width: 0.2rem;
    justify-self: center;
}

.content-container {
    color: var(--black);
    background-color: var(--white);
    padding: 10vh 20% 15vh 5%;
}

.content-title {
    /*width: 20%;*/
    font-size:  165%; /*165%;*/
    color: var(--main-gray);
    background-color: white;
    margin-left: 5%;
    padding: 0.5rem 0.7rem;
    text-align: center;
    border: 0.2rem var(--main-gray) solid;
}

.content-title.test{
    background-color: var(--white);
    border-color: var(--primary);
    color: var(--primary);
}

.content-container > p {
    margin: 2% 5%;
}
.content-container > ul {
    list-style-type: none;
    margin: -2% 2%;
}
.content-container p a{
    color: var(--black);
    text-decoration-color: var(--accent);
    text-decoration-thickness: 0.2rem;
}
.content-container p a:hover{
    color: var(--black);
    border-top: 0.2rem solid var(--accent);
}

.content-container p a:visited {
    color: var(--main-gray);
    text-decoration-color: var(--accent);
}

.content-divider {
    height: 0.05rem;
    background-color: var(--black);
}

.featured {
    width: 50%;
    max-width: 350px;
    margin: 10% 25% 0%;
    padding: 5%;
    font-size:  100%;
    color: var(--black);
    background-color: white;
    border: 0.2rem var(--main-gray) solid;
}

.featured ul {
    list-style-type: none;
    margin-top: 0%;
    /* color: var(--main-gray); */
    padding: 0;
}

.featured a {
    color: var(--accent);
    text-decoration: none;
}

.featured a:hover {
    color: var(--accent);
    text-decoration: underline;
}

/* https://stackoverflow.com/questions/22763127/aligning-text-on-a-specific-character/22763427 */
.featured li {
  display: flex;
}

.featured li span {
  flex: 1;
}

.featured li span:first-of-type {
  text-align: right;
  padding-right: 5px;
}

.featured li span:last-of-type {
  padding-left: 5px;
  flex-grow: 2;
}

.card-container {
    margin-top: 3rem;
    display: grid;
    /* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    row-gap: 3.5rem;
    grid-auto-flow: row;
    
    justify-items: center;
    justify-content: space-evenly;
}

.card {
    border: 0.2rem var(--main-gray) solid;
    width: 333px;
    height: 250px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "title title"
        "scales score";
}

.card h1 {
    font-weight: 600;
    grid-area: title;
    justify-self: start;
    margin: 1.5rem;
    font-size: 1.8rem;
}

.card h1 a{
    text-decoration: none;
    color: var(--black);
}

.card h1 a:hover {
    color: var(--main-gray);
}

.card ul {
    grid-area: scales;
    list-style: none;
    padding: 0;
    margin-left: 1.5rem;
    align-self: center;
    color: var(--main-gray);
    font-size: 1.1em;
}

.card .score {
    grid-area: score;
    justify-self: end;
    margin-right: 1.5rem;
    align-self: center;
    text-align: right;
    color: var(--main-gray);
}

.card .score p {
    font-style: italic;
    margin: 0;
    margin-bottom: 0.4rem;
    font-size: 1.1em;
}

.card .score h2 {
    font-style: italic;
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}

.bracket {
    width: 50px;
    height: 50px;
    position: fixed;
    border-top: solid var(--white) 0.2rem;
    border-left: solid var(--white) 0.2rem;
    z-index: 1;
}}
@media only screen and (max-width: 768px) {
  /* For Mobile */
.main-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 12% 88%;
}

.sidebar-container {
    display: grid;
    color: var(--white);
    background-color: var(--primary);
    height: 100%;
    grid-template-rows: 13% 73% 15%;
    grid-template-columns: 10% 20% 25% 15% 20% 10%;
}

.sidebar-name {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    justify-self: end;
    max-width: 200px;
    text-align: left;
    font-size: 1rem;
    font-weight: 700;
    align-self: center;
}

.sidebar-routes {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    font-size: 0.8rem;
    align-self: center;
    text-align: center;
}

.sidebar-links {
    grid-column: 4 / 4;
    grid-row: 2 / 2;
    font-size: 0.8rem;
    align-self: center;
    display:none;
}

.sidebar-links-mobile {
    grid-column: 4 / 4;
    grid-row: 2 / 2;
    font-size: 1.0rem;
    width: 2.5rem;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.sidebar-lists {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links-mobile li {
    display: inline-block;
    margin: 0% 4%;

}

.sidebar-lists a {
    color: var(--white);
}

.sidebar-lists a:hover {
    color: var(--sidebar-link-hover);
}

.sidebar-line {
    grid-row: 3 / 3;
    grid-column: 2 / 6;
    background-color: var(--white);
    height: 0.1rem;
    align-self: center;
}

.content-container {
    color: var(--black);
    background-color: var(--white);
    padding: 5vh 5% 15% 5%
}

.content-title {
    /*width: 20%;*/
    font-size:  165%; /*165%;*/
    color: var(--main-gray);
    background-color: white;;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 0.5rem 0.7rem;
    text-align: center;
    border: 0.2rem var(--main-gray) solid;
}

.content-container > p {
    margin: 2% 5%;
    font-size: 0.9rem;
}
.content-container > ul {
    /*margin: 2% 5%;*/
    font-size: 0.9rem;
    list-style-type: none;
    margin: -2% 2%;
}

.content-container p a{
    color: var(--accent);
}
.content-container p a:visited {
    color: var(--accent);
}
.content-divider {
    height: 0.05rem;
    background-color: var(--black);
}

.featured {
    display: none;
}


.bracket {
    display: none;
}}
